body{
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: #F8F9FA;
    background-color: rgba(30, 33, 36, 0.904);
    margin-top: 5% ;
}
h1, .btn{
    border-radius: 25px 25px;
}
.dropdown-menu{
    background-color: rgba(30, 33, 36, 0.8) !important;
}
/* to change card's width */
.card{
    width: 15rem;
}
/* "Left" is used to place the dropdown show in accordance with button */
.infos{
    left: -85px;
}
.skills{
    left: -220px;
}
.interests{
    left: -230px;
    font-size: 12px;
}
.form{
    width: 25rem;
    height: 345px;
    left: -180px;
}